@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #1e1e1e; /* Color from Obsidian default theme */
  --secondary-color: #262626; /* Color from Obsidian default theme */
  --tertiary-color: #9e9e9e; /* Color from Obsidian default theme */
  --quaternary-color: #8565ec; /* Color from Obsidian default theme */
}

html {
  background-color: var(--secondary-color);
  font-family: "Inter", sans-serif;
  color: var(--tertiary-color);
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  color: #fff;
  margin: 0.5rem;
}

main {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#open-file {
  background-color: var(--quaternary-color);
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 6p 18px;
  margin-top: 1rem;
}

#yearly-runs {
  margin-top: 1rem;
  font-size: small;
}

#yearly-time {
  font-size: small;
}

#best-pace {
  font-size: small;
}

#calendar {
  margin: 1rem;
  border: solid 1px var(--tertiary-color);
  border-radius: 5px;
  padding: 1rem;
}

.calendar-container {
  display: flex;
}

.months {
  display: flex;
  margin: 0 1rem 1rem 1rem;
}

.days {
  display: flex;
  flex-direction: column;
}

#Mon {
  margin-top: calc(1rem + 4px);
}

#Wed {
  margin-top: 10px;
}

#Fri {
  margin-top: 8px;
}

.cell-container {
  display: flex;
}

.cell {
  background-color: var(--secondary-color);
  padding: 6px;
  margin: 4px;
}

.empty {
  background-color: var(--primary-color);
}

.legend {
  display: flex;
}

footer {
  text-align: center;
  margin: 0.5rem;
}